.slick-dots li.slick-active button:before{
    color: rgb(245, 11, 11);
}

.slick-dots li button:before{
    opacity: 1;
    color: rgb(224, 224, 224);
    font-size: 18px;
}

.slick-dots li{
    margin: 0 8px;
}

.slick-dots{
    bottom: 20px;
}


.bg__AllBanner{
    height: 500px;
}

.bg__banner1{
    background-image: url('../images/Banner/banner1.png');
    background-position: center 90%;
    background-size: 180%;
    background-repeat: no-repeat;
}



.bg__banner2{

}

.bg__banner3{

}

@media screen and (min-width: 892.5px) {
    .bg__AllBanner{
        height: 660px;
    }

    .slick-dots{
        bottom: 30px;
    }
    
    .slick-dots li{
        margin: 0 6px;
    }

    .slick-dots li button:before{
        opacity: 1;
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    
    .bg__banner1{
        background-position:  44% 95%;
        background-size: 135%;
    }

    .Banner__solgan{
        text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    }

    .Banner__search{
        position: absolute;
        top: 1.5px;
        right: 2px;
    }
}